body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #666666;
  text-decoration: none;
}

a:visited, a:hover, a:active, a:focus {
  color: #666666;
  text-decoration: none;
}


img {
  image-rendering: optimizeQuality;  /* Firefox 3.6+; default behavior is identical, no need to specify */
  -ms-interpolation-mode: bicubic;   /* Internet Explorer 7.0; default in IE8+ */
}


button, input, select, textarea {
  font-size: inherit;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
  resize: none;
  border-radius: 0;
  background: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: twCenMt;
  src: url('./twCenMt.ttf');
}

html, body, #__nuxt, #__layout, .layout-box {
  width: 100%;
  height: 100%;
}

html {
  min-width: 1366px;
}

/**::-webkit-scrollbar {*/
/*  display: none !important;*/
/*  width: 0 !important;*/
/*  height: 0 !important;*/
/*}*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* 垂直滚动条的滑动块 */

::-webkit-scrollbar-thumb{
  border-radius: 6px;
  -webkit-box-shadow: #CEBEB0;
  background-color: #CEBEB0;
}

* {
  -webkit-overflow-scrolling: touch;
  word-break: break-word;
}

/*详情页图文最大宽度*/
.detail-page .desc img {
  max-width: 100%;
  margin: auto;
  display: block;
}

ol, ul {
  list-style: none;
}
