/* 常用样式 */
.clearboth::after{
  content:"";
  display:block;
  clear:both;
}
/* 字体大小 */
.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-22 {
  font-size: 22px;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-26 {
  font-size: 26px;
}
.font-size-28 {
  font-size: 28px;
}
.font-size-30 {
  font-size: 30px;
}
.font-size-36 {
  font-size: 36px;
}
/* 常用字體顏色 */
.color-000 {
  color: #000000;
}
.color-333 {
  color: #333333;
}
.color-666 {
  color: #666666;
}
.color-999 {
  color: #999999;
}
.color-fff {
  color: #FFFFFF;
}
 color-red {
   color: #F23128;
 }
/* 外边距 */
.margin-50 {
  margin: 50px;
}
.margin-40 {
  margin: 40px;
}
.margin-30 {
  margin: 30px;
}
.margin-20 {
  margin: 20px;
}
.margin-10 {
  margin: 10px;
}

.margin-left-50 {
  margin-left: 50px;
}
.margin-left-40 {
  margin-left: 40px;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-left-10 {
  margin-left: 10px;
}

.margin-top-50 {
  margin-top: 50px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}

.margin-right-50 {
  margin-right: 50px;
}
.margin-right-40 {
  margin-right: 40px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-right-5 {
  margin-right: 5px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}

.padding-50 {
  padding: 50px;
}
.padding-40 {
  padding: 40px;
}
.padding-30 {
  padding: 30px;
}
.padding-20 {
  padding: 20px;
}
.padding-10 {
  padding: 10px;
}

.padding-left-50 {
  padding-left: 50px;
}
.padding-left-40 {
  padding-left: 40px;
}
.padding-left-30 {
  padding-left: 30px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-5 {
  padding-left: 5px;
}

.padding-top-50 {
  padding-top: 50px;
}
.padding-top-40 {
  padding-top: 40px;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-10 {
  padding-top: 10px;
}

.padding-right-50 {
  padding-right: 50px;
}
.padding-right-40 {
  padding-right: 40px;
}
.padding-right-30 {
  padding-right: 30px;
}
.padding-right-20 {
  padding-right: 20px;
}
.padding-right-10 {
  padding: 10px;
}
.padding-right-5 {
  padding-right: 5px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}
.padding-bottom-40 {
  padding-bottom: 40px;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
.padding-bottom-20 {
  padding-bottom: 20px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}
/* 浮动 */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.line-height-30 {
  line-height: 30px;
}
.pointer {
  cursor: pointer;
}
.display-block {
  display: block;
}
.display-no {
  display: none;
}

.full-btn {
  width: 100%;
  height: 40px;
  border: 1px solid transparent; /*no*/
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
}
.btn-icon {
  vertical-align: middle;
}
.btn-message {
  vertical-align: middle;
}

.wordwrap {
  word-break: break-all;
  word-wrap: break-word;
}

.ow-h1{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-word;
  /*word-break: break-all;*/
  -webkit-line-clamp: 1;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}
.ow-h2{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-word;
  /*word-break: break-all;*/
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}
.ow-h3{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-word;
  /*word-break: break-all;*/
  -webkit-line-clamp: 3;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}
.ow-h4{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: break-word;
  /*word-break: break-all;*/
  -webkit-line-clamp: 4;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

.triangle-down {
  width: 0;
  height: 0;
  border-top: 6px solid #F29B87;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/*知识页标题公共样式*/
.title-with-back {
  position: relative;
  width: 375px;
  height: 44px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 0 0 rgba(221, 221, 221, 1); /*no*/
  line-height: 44px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}
.title-with-back .go-back-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 13px;
  margin: auto;
  font-size: 14px;
  font-weight: 400;
  color: rgba(102, 102, 102, 1);
}

.btn-common {
  width: 345px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 auto 15px;
}
.btn-pink {
  background: rgba(242, 155, 135, 1);
  color: rgba(255, 255, 255, 1);
}
.btn-black {
  background:rgba(51,51,51,1);
  color: rgba(255, 255, 255, 1);
}
.btn-white {
  border: 1px solid rgba(221, 221, 221, 1); /*no*/
  color: #333;
}
.btn-gray {
  background:rgba(250,250,250,1);
  border:1px solid rgba(187,187,187,1); /*no*/
  color:rgba(51,51,51,1);
}

.layout-enter-active, .layout-leave-active {
  transition: opacity .3s
}
.layout-enter, .layout-leave-active {
  opacity: 0
}
/*日期组件样式修改*/
.am-picker .am-head {
}
.am-picker .am-box .am-head input:nth-child(1) {
  color: #999999;
}
.am-picker .am-box .am-head input:nth-child(3) {
  color: rgba(242, 155, 135, 1);
}
